<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改司机分成配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-driverFee-edit" th:object="${confDriverFee}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">挂靠运营商：</label>
                <div class="col-sm-8">
                    <input name="cpNameView"  onclick="selectCpTree()"  readonly="readonly" th:value="${@cp.selectCpLabel('__${confDriverFee.operatorCode}__')}" id="cpNameView" type="text" class="form-control" required placeholder="请选择运营商" >
                    <input name="operatorCode" id="operatorCode" th:field="*{operatorCode}" type="hidden">
                </div>
            </div>
           
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单来源：</label>
                <div class="col-sm-8">
                    <input name="hotelNameView" th:value="${@dept.selectOrderOriginLabel('__${confDriverFee.orderSource}__')}"  onclick="selectDeptTree()" id="hotelNameView" required type="text" class="form-control"  placeholder="请选择订单来源" >
                    <input name="orderSource" id="orderSource" th:field="*{orderSource}" type="hidden" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">司机类型：</label>
                <div class="col-sm-8">
                    <select name="driverType" class="form-control m-b" th:with="type=${@dict.getType('driver_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{driverType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务类型：</label>
                <div class="col-sm-8">
                    <select name="orderType" class="form-control m-b" th:with="type=${@dict.getType('order_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orderType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车型：</label>
                <div class="col-sm-8">
                    <select name="carType" class="form-control m-b" th:with="type=${@dict.getType('car_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{carType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单提成比例：</label>
                <div class="col-sm-8">
                    <input name="firstDriverRat" th:field="*{firstDriverRat}" class="form-control" required  type="number" min="0" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">二次分配比例：</label>
                <div class="col-sm-8">
                    <input name="secDriverRat" th:field="*{secDriverRat}" class="form-control" required  type="number" min="0">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结余分配规则：</label>
                <div class="col-sm-8">
                    <select name="driverGiveRule" class="form-control m-b" th:with="type=${@dict.getType('driver_give_rule')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{driverGiveRule}"></option>
                    </select>
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="exprNote" class="form-control">[[*{exprNote}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "conf/driverFee";
        $("#form-driverFee-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-driverFee-edit').serialize());
            }
        }
       
        function selectCpTree() {
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "210" : $("#treeId").val();
        	var url = ctx + "conf/cp/selectCPTree";
			var options = {
				title: '选择运营商',
				width: "380",
				url: url,
				callBack: doCpSubmit
			};
			$.modal.openOptions(options);
		}
        
        function doCpSubmit(index, layero){
        	var body = layer.getChildFrame('body', index);
        	var tree = layero.find("iframe")[0].contentWindow.$._tree;
        	var title = body.find('#treeTitle').val();
        	var opertionType = title.split("_")[0];
        	var operatorCode = title.split("_")[1];
        	if(opertionType == 10){
        		$.modal.msgError("不允许对省级运营商进行配置");
        		return false;
        	}
        	//var id = body.find('#treeId').val();
        	$("#operatorType").val(opertionType);
			$("#operatorCode").val(operatorCode);
        	$("#cpNameView").val(body.find('#treeName').val());
        	var level = 2;
        	if(opertionType == 40){
			    level = 3;
			 }
        	$("#opertionLeve").val(level);
        	layer.close(index);
        }
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "210" : $("#treeId").val();
        	var url = ctx + "system/dept/selectOriginTree";
			var options = {
				title: '选择渠道',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
				var id = body.find('#treeId').val() == -1 ? "*" : body.find('#treeId').val();
    			$("#orderSource").val(id);
    			$("#hotelNameView").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}
       
    </script>
</body>
</html>